#popup {
	height: 100pt;
	width: 115pt;
}

body .container {
	font-family: arial;
	font-size: 13pt;
	padding-left: 10pt;
	padding-right: 10pt;
	padding-bottom: 10pt;
}

.right {
    text-align: right;
    float: right;
    padding-right: 5pt;
}